# Entornos virtuales
venv/
env/
.venv/

# Archivos de configuración sensibles
.env

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de base de datos local
*.sql
*.db

# Archivos de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store